extends ./../layout

block head 
  link(href="/css/main.css" rel="stylesheet")
  link(href="/css/admin/add_project.css" rel="stylesheet")
  script(src="/js/admin/add_project.js")
  script(src="/js/index.js")

block content
  .main-content
    h2 Добавить проект
    .project-data 
      label(for="name") Название:
      input(type="text" name="name" id="proj-name-inpt")
      label(for="name") Тикер:
      input(type="text" name="ticker" id="proj-ticker-inpt")
      label(for="link") Сайт проекта:
      input(type="text" name="link" id="proj-link-inpt")
      button.add-proj-btn#add-proj-btn Добавить
    
