extends ./../layout


block head 
	meta(name="description" content="Восстановление пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/forgot_password.css" rel="stylesheet")

block content
	.main-content
		h2 Восстановление пароля
		.forgot-fields
			form(action="/forgot-password" method="post") 
				label(for="email") Email:
				input(id="email-inpt" type="text" name="email" placeholder="Введите email, с которым вы регистрировались")
				button(type="submit") Отправить инструкции