extends ./../layout


block head 
	meta(name="description" content="Сброс пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/instructions_sent.css" rel="stylesheet")

block content
	.main-content
		h2 Инструкции отправлены
		.instructions-div
			p Инструкции по сбросу пароля были отправлены на ваш Email-адреc, в случае если вы не находите письмо, проверьте папку спам.
			p
				a(href="/") На главную