extends ./../layout


block head 
	meta(name="description" content="Сброс пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/password_changed.css" rel="stylesheet")

block content
	.main-content
		h2 Пароль успешно изменён!
		.password-changed 
			p Ваш пароль был успешно изменён, вы можете зайти на сайт с новым паролем.
			p 
				a(href="/login") На страницу входа