extends ./../layout


block head 
	meta(name="description" content="Сброс пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/reset_password.css" rel="stylesheet")

block content
	.main-content
		h2 Придумайте новый пароль
		.reset-fields
			form(action="/reset-password" method="post") 
				label(for="password") Новый пароль:
				input(id="password" type="text" name="password" placeholder="Введите пароль")
				label(for="password-repeat") Поторите пароль:
				input(id="password-repeat" type="text" name="passwordRepeat" placeholder="Повторите пароль")
				input(type="hidden" name="t" value=token)
				button(type="submit") Отправить