extends ./../layout


block head 
	meta(name="description" content="Сброс пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/token_expired.css" rel="stylesheet")

block content
	.main-content
		h2 Истёк срок действия вашего токена
		.token-expired 
			p Срок действия токена сброса пароля подошёл к концу, вам нужно заново пройти процедуру сброса пароля.
			