extends ./../layout


block head 
	meta(name="description" content="Сброс пароля. IsItMinable.com | Инструкции по майнингу криптовалют.")
	link(href="/css/main.css" rel="stylesheet")
	link(href="/css/register/url_used.css" rel="stylesheet")

block content
	.main-content
		h2 Данная ссылка уже не действительна
		.url-used 
			p Данная ссылка уже была использована для сброса, пройдите процедуру сброса пароля заново для получения новой ссылки.
			