.upper-menu 
  h1 IsItMinable.com 
  p Узнайте что майнить всего за несколько минут.
  hr
  .main-menu 
    a(href="/") Главная
    a(href="/request-to-add") Добавить проект
    a(href="/how-to-use") Как пользоваться?