extends ../layout

block head
  link(href="/css/main.css" rel="stylesheet")
  link(href="/css/instructions.css" rel="stylesheet")

block content
    .mining-instructions
        h2.mining-header Майнинг Bitcoin
        
