extends ../layout

block head
  link(href="/css/main.css" rel="stylesheet")
  link(href="/css/instructions.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet")
  meta(name="description" content="Майнинг Microbitcoin. Инструкции по майнингу Microbitcoin.")


block content
    .mining-instructions
      img(src="/imgs/Pi Network.png")
      h2.mining-header Майнинг Pi 
      p Иструкции взяты с 
        a(href="https://minepi.com/" target="_blank") официального сайта.
      p Pi это новая цифровая валюта, разработанная Доктором философии Стенфордского университета, с более чем 25 миллионов пользователей по всему миру.
      p Pi майнинг происходит с вашего мобильного телефона (Mobile Mining), однако также может добываться с вашего ПК или Ноутбука.
      p 1. Чтобы начать майнить Pi, вам нужно скачать приложение на свой телефон по ссылке: <a href="https://minepi.com/#download" target="_blank">https://minepi.com/#download</a>.
      p 2. Однако на данный момент мало просто скачать приложение, для подключения к майнингу вам потребуется <u>приглашение</u>. Можете воспользоваться <a href="https://minepi.com/nickeyprod" target="_blank">моим</a>, или просто введите мой ник nickeyprod чтобы присоединиться. 
      p 3. Так как консенсус в сети Pi достигается за счёт так называемого <a href="https://www.stellar.org/papers/stellar-consensus-protocol?locale=en" target="_blank">социального майнинга</a>, который в Pi расширили, позволив учавствовать в добыче обычному единичному пользователю, вам нужно будет пройти KYC (Know Your Client). Это стандартная процедура подтверждения документов, после чего вы сможете майнить и получать Pi, просто ежесуточно подтверждая что вы не робот. 
      p 4. Ежедневно заходите в приложение и подтверждайте свою майнинг-сессию для получения своих Pi.
      p 5. Приглашайте людей по своей ссылке, чтобы создать рабочую группу и увеличить мощность майнинга.