extends ./layout

block head 
  link(href="/css/main.css" rel="stylesheet")
  meta(name="description" content="Инструкции по использованию сайта.")


block content
  .main-content
    h2 Как пользоваться сайтом?
    .text(style="width: 79%;font-size: 1.26em;")
      ul(style="list-style-type: square")
        li
          p(style="text-indent: 0.9em") Использование сайта предельно просто: если проект есть у нас на сайте, значит его можно майнить. На главной странице сайта щелкните на название проекта, эта ссылка ведет на страничку инструкций для майнинга каждого конкретного проекта.
        li
          p(style="text-indent: 0.9em") На главной странице в верхней части есть строка поиска, начните вводить туда название проекта или его тикер, результаты поиска появятся незамедлительно.
        li 
          p(style="text-indent: 0.9em") Вы можете запросить добавить проект на сайт, если его ещё нет в списке.