doctype html
html
  head
    link(href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet")
    link(href="/css/layout.css" rel="stylesheet")

    title IsItMinable.com | #{title} 
    block head

  include includes/header
  block content
  include includes/footer