extends ./layout

block head 
  meta(name="description" content="Узнайте, что можно майнить всего за несколько минут. Список криптовалют для майнинга. Список криптовалют для майнинга. Поиск по монетам.")
  link(href="/css/main.css" rel="stylesheet")
  script(src="/js/index.js")
  script(src="/js/main.js")

block content
  .main-content
    .project-search 
      label(for="projectSearch") Поиск:
      span(style="float:right; font-weight:bold") Проектов в базе: #{projects.length}
      input#search-inpt(type="text" name="projectSearch" placeholder="Начните вводить название проекта или тикер")
    .minable-list
      .minable-project.head
        .p-name Название
        .p-algo Тикер
        .p-link Сайт проекта
      br
      .search-results#s-rs
        each project in projects
          if project.hidden != true
            .minable-project
              .p-name
                img(class="project-logo" src="/imgs/" + project.name + "_" + project.ticker + ".png") 
                a(href=`/how-to-mine?coin=${project.name}` title=`Узнать как майнить ${project.name}`)=project.name
              .p-ticker=project.ticker
              if project.link
                .p-link 
                  a(href=project.link target="_blank")=project.link
              else 
                .p-link -
        else 
          .minable-project
            div(style="font-size: 1.2em;") Проекты не найдены
  .preloader#preloader
    img(src="/imgs/preloader.gif")