/* CSS for add_project */

.project-data {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 0 100px;
}

.project-data input {
    padding: 4px 10px;
    font-size: 1.2em;
}

.project-data label,
.project-data legend {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 1.2em;
}

.add-proj-btn {
    width: fit-content;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1.2em;
}