extends ./../layout

block head 
  link(href="/css/main.css" rel="stylesheet")
  meta(name="description" content="Криптобезопасность. Обучение безопасному использованию криптовалют: как не потерять свои деньги.")


block content
  .main-content
    h2 Криптобезопасность
    p Раздел в разработке.