/* CSS for reset_password.pug */

.reset-fields form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.reset-fields label {
    font-weight: bold;
    margin: 5px 2px;
}


.reset-fields input {
    font-size: 1.1em;
    padding: 5px 8px;
}

.reset-fields button {
    font-size: 1.1em;
    padding: 5px 6px;
    margin: 10px 0;
    width: fit-content;
}